<link href="/static/main.css" rel="stylesheet"/>
<link href="/static/jquery.jsonview.css" rel="stylesheet"/>
<div ng-init="init()">
</div>
<div class="row">
    <div class="col-sm-2 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
              <li class="active"><a href="#/apidocs/rpc">Click on a Task<span class="sr-only">(current)</span></a></li>
            </ul>
            <ul class="nav nav-sidebar">
              <label><input type="text" class="form-control" ng-model="searchText" placeholder="search it here, click me"></label>
              <li ng-repeat="service_name in services | orderBy:'toString()' | filter:searchText  ">
                 <a href="" ng-click="getTaskList(service_name)" data-toggle="tooltip" title="click me for details"><span class="badge"></span>{{ service_name }}</a>
              </li>
            </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h2 class="sub-header" value="{{current_service}}" id="current_service">{{ current_service }}</h2>
        <div class="table-responsive">
          <ul class="list-group nav">
            <li class="list-group-item" >
              <button type="button" ng-class="current_methods.includes('die_you_gravy_sucking_pig_dog') ? 'btn btn-danger' : 'btn btn-primary'">
                  {{ method.name}}
                  <span ng-if="current_methods['private'] == true" class="badge">
                    Private
                  </span>
                  <span ng-if="current_methods['private'] != true" class="badge">
                    Public
                  </span>
              </button>
              <p ng-show="schema_list != undefined" id="param_schema">>
                  <li>
                      <pre id="schema_pretty">
                      </pre>
                  </li>
              </p>
            </li>
          </ul>
        </div>
    </div>
</div>
