<link href="/static/main.css" rel="stylesheet"/>
<link href="/static/jquery.jsonview.css" rel="stylesheet"/>
<div ng-init="init()">
</div>
<div class="row">
    <div class="col-sm-2 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
              <li class="active"><a href="#rpc">Click on a Service<span class="sr-only">(current)</span></a></li>
            </ul>
            <ul class="nav nav-sidebar">
              <label>Search: <input ng-model="searchText" placeholder="input service name"></label>
              <li ng-repeat="service_name in services | orderBy:'toString()' | filter:searchText  ">
                 <a href="" ng-click="getServiceList(service_name)" data-toggle="tooltip" title="click me for details"><span class="badge"></span>{{ service_name }}</a>
              </li>
            </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h2 class="sub-header" value="{{current_service}}" id="current_service">{{ current_service }}</h2>
        <div class="table-responsive">
          <ul class="list-group nav">
            <li class="list-group-item" ng-repeat="method in current_methods | orderBy:'toString()' | filter:search:strict">
              <button type="button" ng-class="method['name'].includes('die_you_gravy_sucking_pig_dog') ? 'btn btn-danger' : 'btn btn-primary'">
                  {{ method.name}}
                  <span ng-if="method['private'] == true" class="badge">
                    Private
                  </span>
                  <span ng-if="method['private'] != true" class="badge">
                    Public
                  </span>
              </button>
              <p ng-if="method['result-schema'] != undefined">
                  <span class="label label-primary">result</span>
                  <pre>
                      {{ method["result-schema"] | json:4 }}
                  </pre>
              </p>
              <p ng-if="method['params-schema'] != undefined">
                  <span class="label label-primary">params</span>
                  <pre>
                      {{ method["params-schema"] | json:4 }}
                  </pre>
              </p>
            </li>
          </ul>
        </div>
    </div>
</div>
