<div ng-init="init()">
</div>
<div class="row">
    <div class="col-sm-2 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
              <li class="active"><a href="#rpc">Services<span class="sr-only">(current)</span></a></li>
            </ul>
            <ul class="nav nav-sidebar">
              <label>Search for text: <input ng-model="searchText"></label>
              <button type="button" name="button" ng-click="clearEvents()">Clear Page</button>
            </ul>
    </div>
    <div class="col-sm-10 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div class="" ng-repeat="item in item_list | filter: searchText">
          <div class="panel panel-primary">
            <div class="panel-heading">New event: <b>{{ item.name }}</b></div>
            <div class="panel-body">
              Event data:
              <pre>{{ item.args }}</pre>
            </div>
          </div>
      </div>
    </div>
</div>
