<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>FreeNAS container console</title>
    <script src="static/util.js"></script>
    <style type="text/css">
        html, body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            display: table;
            background-color: black;
        }

        #wrapper {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
        }
    </style>
</head>
<body>
    <div id="wrapper">
        <canvas id="vnc">
            Canvas not supported.
        </canvas>
    </div>
    <script>
        var INCLUDE_URI = "/containerd/webvnc/static/";
        Util.load_scripts([
            "webutil.js", "base64.js", "websock.js", "des.js",
            "keysymdef.js", "keyboard.js", "input.js", "display.js",
            "inflator.js", "rfb.js", "keysym.js"
        ]);

        window.onscriptsload = function () {
            var rfb = new RFB({
                "target": document.getElementById("vnc")
            });

            rfb.connect(window.location.host, 80, null, "/containerd/vnc?token={{ token }}");
        }
    </script>
</body>
</html>