{% extends "bootstrap/base.html" %}
{% import "nav.html" as nav %}
{% block title %}File Browser{% endblock %}
{% block styles %}
    {{ super() }}
    <style type="text/css">
        body {
            margin: 20px;
            padding-top: 50px;
        }
        #fileIcon {
          position:relative;
          left: -10px;
        }
        #drop_zone {
          border: 2px dashed #bbb;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          border-radius: 5px;
          padding: 25px;
          text-align: center;
          font: 20pt bold 'Vollkorn';
          color: #bbb;
        }
        .dropcontainer {
          padding: 10px;
          border: 1px solid #ccc;
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

{% endblock %}
{% block scripts %}
    {{super()}}
    <script src="//code.jquery.com/jquery-1.11.1.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="/static/middleware.js"></script>

    <script id="directoryTemplate" type="text/x-handlebars-template">
      {% raw %}
        <td onclick="listDir('{{~args.name}}', true)">
          <i id="glass" class="fa fa-folder"/>
          {{args.name}}
        </td>
        <td>{{args.size}}</td>
        <td>{{args.modified}}</td>
      {% endraw %}
    </script>

    <script id="fileTemplate" type="text/x-handlebars-template">
      {% raw %}
        <td><i id="glass" class="fa fa-file-text"/>{{args.name}}</td>
        <td>{{ args.size }}</td>
        <td>{{ args.modified }}</td>
      {% endraw %}
    </script>

    <script id="outputfiles" type="text/x-handlebars-template">
      {% raw %}
        <li>
          <strong>{{ file.name }}</strong>
          {{ type }} - {{ file.size }} bytes, last modified: {{ modifiedDate }}
        </li>
      {% endraw %}
    </script>

    <script type="text/javascript">

      // Handlebars Stuff
      Handlebars.registerHelper( "json", function ( context ) {
        return JSON.stringify( context, null, 4 );
      });
      Handlebars.registerHelper( "stringifyFunc" , function ( fn ) {
        return new Handlebars.SafeString( "(" +
          fn.toString().replace( /\"/g,"'" ) + ")()" );
      });
      var fileTemplate = Handlebars.compile( $( "#fileTemplate" ).html() );
      var directoryTemplate = Handlebars.compile(
        $( "#directoryTemplate" ).html()
      );
      var outputfiles = Handlebars.compile( $( "#outputfiles" ).html() );
      // Handlebars Stuff

      // Actual JS code for filebrowser
      var BUFSIZE = 6;
      var sock = new middleware.DispatcherClient( document.domain );

      function pathJoin ( parts, sep ) {
        var separator = sep || "/";
        var replace   = new RegExp( separator + "{1,}", "g" );
        return parts.join( separator ).replace( replace, separator );
      }

      var listDir = function ( path, relative ) {
        if ( relative === true ) {
          path = pathJoin( [ sessionStorage.getItem( "filebrowser:cwd" ), path ] );
        }
        if ( path === "" ) { path = "/"; }
        sock.call( "filesystem.list_dir", [ path ], function ( dirs ) {
          $( "#dirlist tbody" ).empty();
          $( "#cwd" ).html( "Current Path: " + path );
          $( "#cdup" ).on( "click", function ( e ) {
            if ( path !== "/" ) {
              listDir( path.substring( 0, path.lastIndexOf( "/" ) ) );
            };
          });
          sessionStorage.setItem( "filebrowser:cwd", path );
          $.each( dirs, function ( key, value ) {
            var resultingHtml;
            if ( value.type === "DIRECTORY" ) {
              resultingHtml = directoryTemplate({args: value});
            } else {
              resultingHtml = fileTemplate({args: value});
            }

            $( "<tr/>"
             , { "data-id": key, "html": resultingHtml }
            ).prependTo( "#dirlist tbody" );
          });
        });
      };

      function handleFileSelect ( evt ) {
        evt.stopPropagation();
        evt.preventDefault();

        var files = evt.dataTransfer.files; // FileList object.

        $( "#outputfilelist" ).empty();
        $.each( files, function ( key, file ) {
          var date = file.lastModifiedDate ? file.lastModifiedDate.toLocaleDateString() : "n/a";
          $( "#outputfilelist" ).append(
              outputfiles(
                { file: file
                , type: file.type || "n/a"
                , modifiedDate: date
              })
          );
          $( "#outputfilelist" ).append(
            $( "<button/>", {
              text: "Upload",
              click: function () { uploadToSocket( file ) }
            })
          );
        });
      }

      function handleDragOver ( evt ) {
        evt.stopPropagation();
        evt.preventDefault();
        evt.dataTransfer.dropEffect = "copy"; // Explicitly show this is a copy.
      }

      // Setup the dnd listeners.
      var dropZone = document.getElementById( "drop_zone" );
      dropZone.addEventListener( "dragover", handleDragOver, false );
      dropZone.addEventListener( "drop", handleFileSelect, false );


      function sendBlob ( fileconn, file, optStartByte, optStopByte ) {
        var start = parseInt( optStartByte ) || 0;
        var stop = parseInt( optStopByte ) || file.size;

        var reader = new FileReader();

        reader.onloadend = function ( evt ) {
          if ( evt.target.readyState == FileReader.DONE ) { // DONE == 2
            console.log
              ( "readBlob byte_range: Read bytes: "
              , start
              , " - "
              , stop
              , " of "
              , file.size
              , " byte file"
            );
            fileconn.send( evt.target.result );
            if ( stop == file.size ) {
              // we are done with the transfer, AWESOME!
              // disconnet after a small delay
              setTimeout( function ( ) {
                  fileconn.disconnect();
                }, 2000 );
            }
          }
        };

        var blob = file.slice( start, stop );
        reader.readAsBinaryString( blob );
      }

      function uploadToSocket ( file ) {
        console.log( "uploadToSocket: Initializing FileClient now" );
        fileconn = new middleware.FileClient( sock );
        fileconn.onOpen = function ( ) {
          console.log( "FileConnection opened, Websocket resdyState: ", fileconn.socket.readyState );
          console.log( "Going for upload in 1024 byte slices..." );
          var filePos = 0;
          while ( filePos + BUFSIZE <= file.size ) {
            sendBlob( fileconn, file, filePos, filePos + BUFSIZE );
            filePos = filePos + BUFSIZE;
          }
          if ( filePos < file.size ) {
            sendBlob( fileconn, file, filePos, file.size );
          }
        };
        fileconn.onData = function ( msg ) {
          console.log( "FileConnection message recieved is ", msg );
        };
        fileconn.onClose = function ( ) {
          console.log( "FileConnection closed" );
        };
        fileconn.upload(
            pathJoin(
              [ sessionStorage.getItem( "filebrowser:cwd" ), file.name ]
            )
          , file.size
          , "777"
        );

      }

      sock.connect();
      $( document ).ready( function () {
        sock.onError = function (  err ) {
          alert( "Error: " + err.message );
        };

        sock.onConnect = function ( ) {
          if ( !sessionStorage.getItem( "freenas:username" ) ) {
            var username = prompt( "Username:" );
            var password = prompt( "Password:" );
            sessionStorage.setItem( "freenas:username", username );
            sessionStorage.setItem( "freenas:password", password );
          }

          sock.login
          ( sessionStorage.getItem( "freenas:username" )
          , sessionStorage.getItem( "freenas:password" )
          );
        };

        sock.onLogin = function ( ) {
          listDir( "/root" );
        };

      });
    </script>

{% endblock %}
{% block content %}
{{ nav.nav() }}
  <h1>File Browser</h1>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title" id="cwd"></h3>
    </div>
    <div class="panel-body">
     <button type="button" class="btn btn-primary" id="cdup">Up (..)</button>
    </div>

    <div class="dropcontainer">
      <div id="drop_zone">File Upload: Drop files here</div>
      <output id="outputfilelist"></output>
    </div>
    <table class="table" id="dirlist">
      <thead>
        <tr>
          <th>Name</th>
          <th>Size</th>
          <th>Modified</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>

  </div>
    
{% endblock %}