#!/bin/sh
datadir=$1
cmd=$2
driverdir=$(dirname $0)
dbdir=${datadir}
mongod=/usr/local/bin/mongod
pidfile=${dbdir}/mongod.lock


case ${cmd} in
    init)
        mkdir ${dbdir}
        chown mongodb ${dbdir}
        ;;

    start)
        rm -f ${dbdir}/mongod.lock

        ${mongod} \
            --config ${driverdir}/mongod.conf \
            --fork \
            --logpath ${dbdir}/mongod.log \
            --quiet \
            --dbpath ${dbdir} \
            --port ${3:-27017}

        # Compact database and repair after unclean shutdown
        echo 'db.runCommand({repairDatabase: 1})' | /usr/local/bin/mongo freenas > /var/tmp/mongorepair.log
        ;;

    stop)
        pid=`cat ${pidfile}`
        kill ${pid}
        while kill -0 ${pid} > /dev/null 2>&1; do
            sleep 0.2
        done
        ;;

    defragment)
        ;;

    *)
        echo "Unknown command"
        exit 1
        ;;
esac
